<%# Page de création d'un nouveau profil enfant %>
<%# DA cosmique : titre Cormorant Garamond, formulaire via _form.html.erb %>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-7">

      <%# Titre Cormorant Garamond italic %>
      <h1 class="ch-form-title">Nouveau héros</h1>
      <p class="ch-form-subtitle">Créez le profil de votre enfant pour personnaliser ses histoires</p>

      <%# Le formulaire partagé (new + edit) %>
      <%= render "form", child: @child %>

    </div>
  </div>
</div>
